<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="<%= assetPrefix %>css/app2.css">
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div id="app"></div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
    <script src="<%= assetPrefix %>js/app2.js"></script>
  </footer>

</body>

</html>
